<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center">
    <h5 class="text-white">Follow Us</h5>
    <div class="d-flex flex-row justify-content-center">
                    <span style="font-size: 2rem; color: Tomato;">
                        <i class="fab fa-facebook-f"></i>
                    </span>
        <span style="font-size: 2rem; color: Dodgerblue;">
                        <i class="fab fa-twitter"></i>
                    </span>
        <span style="font-size: 2rem; color: Mediumslateblue;">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
        <span style="font-size: 2rem; color: Dodgerblue;">
                        <i class="fab fa-instagram"></i>
                    </span>
        <span style="font-size: 2rem; color: Dodgerblue;">
                        <i class="fab fa-pinterest-p"></i>
                    </span>
    </div>
    <p class="bigintro">Big Momma,s is going to supply everything you need for the <b>surf</b> & <b>beyond.</b></p>
</div>
<div class="footer navbar-fixed-bottom my_footer">
    <p class="text-center">&copy;live Noonan Rocc FullStack Webdevelopment All Rights Reserved.</p>

</div>
